body
{
  margin: 0px;
  padding: 0px;
  height: 100%;
  font: 14px/1.4em noto_sansregular;
}

*
{
     box-sizing: border-box;
}


@font-face {
    font-family: 'noto_sansbold';
    src: url('../font/notosans-bold-webfont.eot');
    src: url('../font/notosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/notosans-bold-webfont.woff2') format('woff2'),
         url('../font/notosans-bold-webfont.woff') format('woff'),
         url('../font/notosans-bold-webfont.ttf') format('truetype'),
         url('../font/notosans-bold-webfont.svg#noto_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noto_sansbold_italic';
    src: url('../font/notosans-bolditalic-webfont.eot');
    src: url('../font/notosans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/notosans-bolditalic-webfont.woff2') format('woff2'),
         url('../font/notosans-bolditalic-webfont.woff') format('woff'),
         url('../font/notosans-bolditalic-webfont.ttf') format('truetype'),
         url('../font/notosans-bolditalic-webfont.svg#noto_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'noto_sansitalic';
    src: url('../font/notosans-italic-webfont.eot');
    src: url('../font/notosans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/notosans-italic-webfont.woff2') format('woff2'),
         url('../font/notosans-italic-webfont.woff') format('woff'),
         url('../font/notosans-italic-webfont.ttf') format('truetype'),
         url('../font/notosans-italic-webfont.svg#noto_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noto_sansregular';
    src: url('../font/notosans-regular-webfont.eot');
    src: url('../font/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/notosans-regular-webfont.woff2') format('woff2'),
         url('../font/notosans-regular-webfont.woff') format('woff'),
         url('../font/notosans-regular-webfont.ttf') format('truetype'),
         url('../font/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../font/caviardreams-webfont.eot');
    src: url('../font/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/caviardreams-webfont.woff2') format('woff2'),
         url('../font/caviardreams-webfont.woff') format('woff'),
         url('../font/caviardreams-webfont.ttf') format('truetype'),
         url('../font/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../font/caviardreams_bold-webfont.eot');
    src: url('../font/caviardreams_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/caviardreams_bold-webfont.woff2') format('woff2'),
         url('../font/caviardreams_bold-webfont.woff') format('woff'),
         url('../font/caviardreams_bold-webfont.ttf') format('truetype'),
         url('../font/caviardreams_bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
#floatBarsG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}
.floatBarsG{
	position:absolute;
	top:0;
	background-color:rgb(255, 255, 255);
	width:28px;
	height:28px;
	animation-name:bounce_floatBarsG;
		-o-animation-name:bounce_floatBarsG;
		-ms-animation-name:bounce_floatBarsG;
		-webkit-animation-name:bounce_floatBarsG;
		-moz-animation-name:bounce_floatBarsG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
}

#floatBarsG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#floatBarsG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#floatBarsG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#floatBarsG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#floatBarsG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#floatBarsG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#floatBarsG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#floatBarsG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_floatBarsG{
	0%{
		transform:scale(1);
		background-color:#b0bf1e;
	}

	100%{
		transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_floatBarsG{
	0%{
		-o-transform:scale(1);
		background-color:#b0bf1e;
	}

	100%{
		-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_floatBarsG{
	0%{
		-ms-transform:scale(1);
		background-color:#b0bf1e;
	}

	100%{
		-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_floatBarsG{
	0%{
		-webkit-transform:scale(1);
		background-color:#b0bf1e;
	}

	100%{
		-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_floatBarsG{
	0%{
		-moz-transform:scale(1);
		background-color:#b0bf1e;
	}

	100%{
		-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

body
{
	padding: 0px;
	margin: 0px;
	font: 14px/1.4em Arial;
}

button, input[type="button"], input[type="submit"]{
	cursor: pointer;
	padding: 0;
}
button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled{
    cursor: default;
}

button::-moz-focus-inner {
	border: 0 none;
}

button:active {
	outline: medium none;
}

button:focus {
	outline: medium none;
}
select{
    padding-left: 5px;
}
select option{
    padding: 5px 10px;
}
.text-propercase, .text-capitalize{
	text-transform: capitalize;
}
a{
	text-decoration: none;
	color: inherit;
}
a.textclick{
	color: #B8BF0D;
}
img:-moz-loading {
    visibility: hidden;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/*Class for disabling element selection*/
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Prevent the child's margin moving the parent*/
.parent::before {
  clear: both;
  content: "";
  display: table;
  margin-top: -1px;
  height: 0;
}
.right-text{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-bold{
	font-weight: bold;
}
.bgBiwGreen{
	background-color: #afbd22;
}
.fontBiwGreen{
	color: #afbd22;
}
.fontWhite{
	color: #fff;
}
.fontGrey{
	color: #444;
}
.bgWhite{
	background-color: #fff;
}
.clear
{
    float: none;
    clear: both;
}
.self-clear::before,.self-clear::after, .selfClear::before, .selfClear::after{
    clear: both;
    float:none;
    display: block;
    content: '';
}
.centerText, .center-text
{
    text-align: center;
}

.rightText, .right-text
{
    text-align: right;
}
.topAlign{
	vertical-align: top;
}
.left-text{
    text-align: left;
}
.float-left
{
    float: left;
}
.position-relative{
	position: relative;
}
.float-right
{
    float: right;
}
.centerBlock{
	margin: 0px auto;
}
.pop-up,.page-middle
{
     position: fixed;
     top: 0px;
     left: 0px;
     height: 100%;
     width: 100%;
     z-index: 44;
     display: none;
}
.page-middle{
    position: absolute;
    display: table;
}
.pop-up.hide
{
     display: none;
}

.pop-up.show, .pop-up.active,.page-middle.active
{
     display: table;
}

.pop-up > div, .page-middle > div
{
     display: table-cell;
     width: 100%;
     vertical-align: middle;
     background: rgba(0,0,0,0.6);
}

.center-block
{
     margin: 0px auto;
     display: block;
}
.header ul.slider{
    margin: 0px;
    padding:0px;
}
.header ul.slider li{
	list-style:none;
	width:100%;
}
.header .slider li img{
    width: 100%;
}
.free-text1{
  
    line-height: 1.7em;
    font-size: 1.2em;
}
.text-justify{
    text-align: justify;
}
td.masked{
	position: relative;
}
td.masked *{
	position: relative;
	z-index: 0;
}
td.masked:after{
	content: ''; 
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 3;
	top: 0px;
	left: 0px;
}

.nav {
	padding-left:0;
	margin-bottom:0;
	list-style:none
}
.nav>li {
	position:relative;
	display:block
}
.nav>li>a {
	position:relative;
	display:block;
	padding:10px 15px
}
.nav>li>a:focus,.nav>li>a:hover {
	text-decoration:none;
	background-color:#eee
}
.nav>li.disabled>a {
	color:#777
}
.nav>li.disabled>a:focus,.nav>li.disabled>a:hover {
	color:#777;
	text-decoration:none;
	cursor:not-allowed;
	background-color:transparent
}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover {
	background-color:#eee;
	border-color:#337ab7
}
.nav .nav-divider {
	height:1px;
	margin:9px 0;
	overflow:hidden;
	background-color:#e5e5e5
}
.nav>li>a>img {
	max-width:none
}
.nav-tabs {
	border-bottom:1px solid #ddd
}
.nav-tabs>li {
	float:left;
	margin-bottom:-1px
}
.nav-tabs>li>a {
	margin-right:2px;
	line-height:1.42857143;
	border:1px solid transparent;
	border-radius:4px 4px 0 0
}
.nav-tabs>li>a:hover {
	border-color:#eee #eee #ddd
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
	color:#555;
	cursor:default;
	background-color:#fff;
	border:1px solid #ddd;
	border-bottom-color:transparent
}
.nav-tabs.nav-justified {
	width:100%;
	border-bottom:0
}
.nav-tabs.nav-justified>li {
	float:none
}
.nav-tabs.nav-justified>li>a {
	margin-bottom:5px;
	text-align:center
}
.nav-tabs.nav-justified>.dropdown .dropdown-menu {
	top:auto;
	left:auto
}
@media (min-width:768px) {
	.nav-tabs.nav-justified>li {
		display:table-cell;
		width:1%
	}
	.nav-tabs.nav-justified>li>a {
		margin-bottom:0
	}
	
}
.nav-tabs.nav-justified>li>a {
	margin-right:0;
	border-radius:4px
}
.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover {
	border:1px solid #ddd
}
@media (min-width:768px) {
	.nav-tabs.nav-justified>li>a {
		border-bottom:1px solid #ddd;
		border-radius:4px 4px 0 0
	}
	.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover {
		border-bottom-color:#fff
	}
}
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	left: 0px;
	background: #fff;
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 170px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #CCC;
	padding-top: 25px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #FFF;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../img/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(../img/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../img/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../img/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}
.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
.wrapper
{
  width: 100%;
  color:#262626;
}
.green
{
  color: #b8bf0d;
}

.header
{
  width: 100%;
  height: 48.5vw;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.color-effect
{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(100,100,100,1), rgba(0,0,0,0.3));
  opacity: 1;
  top: 0px;
  left: 0px;
}
nav.main-nav .menu
{
  /*! width: 44%; */
  float: right;
  padding: 0px;
}

nav.main-nav .menu li{
  font-family: noto_sansbold;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8em;
}
nav.main-nav .menu > li
{
  list-style: none;
  display: inline-block;
  transition: color 0.5s;
  float: left;
  padding: 0px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  text-align: left;
  text-shadow: 0px 1px 3px #000;
}

nav.main-nav .menu > li:not(:last-child):after{
  content: '|';
  margin-left: 20px;
  color: #fff;
}

nav.main-nav .menu li:hover ul
{
  visibility: visible;
  opacity: 1;
}

nav.main-nav .submenu li:hover
{
  color: #b8bf0d;
  text-shadow: none;
}
nav.main-nav .menu li:hover,nav.main-nav  .menu li.active
{
  color: #b8bf0d;
  cursor: pointer;
}

nav.main-nav .menu li:hover ul
{
  color: #fff;
}

nav.main-nav .submenu
{
  padding: 10px 0px;
  visibility: hidden;
  display: block;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  text-align: left;
  width: 170%;
}

nav.main-nav .submenu li
{
  display: block;
  padding: 3px 0px;
  color: #fff;
  font-size: 0.9em;
}
nav.main-nav .submenu li a{
  color:#fff;
}
nav.main-nav .menu li:hover ul
{
  visibility: visible;
  opacity: 1;
}

nav.main-nav .submenu li:hover,nav.main-nav .submenu li a:hover
{
  color: #b8bf0d;
  text-decoration:none;
}

nav.main-nav{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  width: 100%;
  padding: 20px 20px;
  min-width: 320px;
  transition: background 1s;
}

nav.main-nav .inner-nav{
  max-width: 1200px;
  margin: 0px auto;
}

nav.main-nav.fixed, nav.main-nav.fixed .menu .submenu{
  background: rgba(0,0,0,0.7);
}
nav.main-nav.fixed .menu .submenu{
  padding: 10px 0px 5px 10px;
  background: rgba(0, 0, 0, 0.8);
}

.amdocs-embrace
{
  float: left;
  cursor: pointer;
}

.arrow-down {
	width: 0;
	height: 0;
	border-color: #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid;
	display: inline-block;
	margin: 0px 0px 0px 3px;
}

.amdocs-club
{
  position: absolute;
  top: 36%;
  
}

.amdocs-club img
{
  margin: 0px auto;
  display: block;
}

.title_happy
{
  font-family: caviar_dreamsregular;
  font-size: 8.4em;
  font-weight: normal;
  margin: 3% 0px 0px 0px;
  line-height: 0.9em;
  text-align: center;
}

.items
{
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  max-width: 1280px;
}

.item-image-ellipse
{
  background: #b8bf0d;
  width: 138px;
  height: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background 0.5s;
  margin: 0px auto;
}

.active-ellipse
{
  background: #013e6b;
}

.item-image-ellipse img
{
  height: 80px
}

.item-title
{
  text-align: center;
  color: #262626;
  font-family: noto_sansregular;
  text-transform: uppercase;
}

.item-wrapper
{
  /*! transform: translate(0px,-84px); */
  position: relative;
  z-index: 2;
  /*! margin-top: -84px; */
}
.category-menu .filter{
    background: #eeeeee;
    padding: 9px 10px;
    margin: 35px auto 20px auto;
    text-align:  center;
}
.category-menu .filter select, .category-menu .filter > div{
    width: 20%;
    height: 35px;
    display: inline-block;
    margin: 16px 2%;
    vertical-align: top;
    border-radius: 5px;
    color: #003d69;
    min-width: 221px;
}
.category-menu .filter div.point-slide label{
    width: 22%;
    vertical-align: middle;
    margin-right: 10px;
}
.category-menu .filter div.point-slide.disabled{
	color: #aaa;
}
.category-menu .filter div.point-slide label.value{
    width: 100%;
    display: block;
    transform: translate(0,24px);
	text-align: center;
}
.category-menu .filter div.point-slide .slide-viewport{
    display: inline-block;
    width: 75%;
    vertical-align: middle;
    position: relative;
    height: 100%;
	text-align: center;
}
.category-menu .filter div.point-slide.disabled .slide-viewport:after{
    content: '';
    display: block;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.category-menu .filter div.point-slide .track{
    position: absolute;
    top:15px;
    background: #aebd22;
    width: 100%;
    height: 2px;
    left: 0px;
}
.category-menu .filter div.point-slide .handle-bar{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #003d69;
    top: 5px;
    position: absolute;
    left: 0px;
    cursor: pointer;
}
.category-menu .filter div.point-slide.disabled .slide-viewport .track , .category-menu .filter div.point-slide.disabled .slide-viewport .handle-bar{
    background-color: #bbb;
}
.category-menu .filter div.search{
    border-bottom: 1px solid #aebd22;
}
.category-menu .filter div.search.disabled{
    border-bottom: 1px solid #aaa;
}
.category-menu .filter div.search input{
    float: left;
    height: 34px;
    padding-left: 10px;
    background: transparent;
    border: none;
    width: 70%;
}
.category-menu .filter div.search button{
    width: 30px;
    height: 100%;
    float: right;
    border:none;
    background: transparent;
}
.category-menu .filter div.search button:disabled{
    opacity: 0.3;
}
.category-menu .filter div.search button img{
    width: 100%;
}
.category-menu .filter select{
    border: 1px solid #aebd22;
	text-transform: capitalize;
}
.category-menu .filter select:disabled{
    border: 1px solid #aaa;
    background: #eaeaea;
    color: #aaa;
}

.body-common-iframe
{
  width: 100%;
  height: auto;
}

.item-gallery-container
{
  max-width: 1200px;
  margin: -40px auto 0px auto;
}

.item-gallery-table 
{
  width: 100%;
}

.item-gallery-table tr td p
{
  text-align: center;
  font-family: noto_sansregular;
  color: #013e6a;
}

.item-gallery-table tr td
{
  cursor: pointer;
  padding: 0px;
}
.item-gallery-table tr td:not(:last-child){
    padding-right: 2px;
}

.item-gallery-table tr td img
{
  width: 100%;
}

/*My Account page*/
.myaccount-header
{
  height: 35vw;
}
.myaccount-header .amdocs-club img
{
  float: right;
  width: 300px;
}

.myaccount-header .title_happy
{
  float: left;
  font-size: 5em;
  margin: 0px;
}

.myaccount-header .amdocs-club
{
  padding: 0px 2%;
}

.myaccount-body
{
  min-height: 700px;
}
.booking-section a:hover, .myaccount-body a:hover{
  text-decoration: underline;
}

.myaccount-body > .float-left
{
  width: 45%;
  padding: 80px 0px 0px 0px;
  min-height: 655px;
}

.myaccount-body > .float-right
{
  width: 55%;
  padding: 10px 5px 0px 20px;
  min-height: 600px;
}

.myaccount-body .profile-section
{
  background-color: #ebebeb;
}
.myaccount-body .profile-name
{
  font-family: noto_sansregular;
  font-size: 3em;
  text-transform: uppercase;
  margin: 0px;
  text-align: center;
  color: #333333;
}

.myaccount-body .profile-points
{
  text-align: center;
  color: #afbd22;
  font-family: noto_sansbold;
  font-size: 1.6em;
}

.myaccount-body .profile-pic
{
  display: block;
  margin: 10px auto;
  width: 17%;
}
.participation-level
{
  width: 70%;
  margin: 20px auto 0px auto;
  color: #afbd22;
}

.participation-level p
{
  font-size: 1.2em;
}

.participation-level .level-wrapper
{
  background-color: #fff;
  width: 100%;
  height: 20px;
  position: relative;
  border-radius: 20px;
}

.participation-level .level
{
  background-color: #afbd22;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  border-radius: 20px;
}

.myaccount-body .profile-menu
{
  font-family: noto_sansbold;
  font-size: 1.9em;
  line-height: 1em;
  margin: 106px 0px 0px 70px;
}

.myaccount-body .profile-menu li
{
  list-style-image: url(../img/liststyle-arrow.png);
  color: #afbd22;
  cursor: pointer;
  margin: 5px 0px;
  padding: 13px 0px;
  transition: color 0.3s;
}
.myaccount-body .profile-menu li:hover{
	color: #9CAA18;
}
.myaccount-body .profile-menu li.active
{
  color: #262626;
  display: list-item;
}

.myaccount-body > .float-right .inner-header .head-title
{
  font-size: 1.4em;
  text-transform: uppercase;
  font-family: noto_sansbold;
  float: left;
  margin: 0px;
}

.myaccount-body > .float-right .inner-header .head-line
{
  float: right;
  width: 65%;
  border-color: #afbd22;
  border-bottom-width: 5px;
  border-style: solid;
  margin: 8px 0px 0px 0px;
}

.myprofile
{
  overflow: hidden;
}

.myprofile .inner-header .head-line
{
   width: 76% !important;;
}

.myprofile .profile-table
{
  width: 90%;
  margin: 60px 0px 0px 0px
}

.booking-section .profile-table td, .myprofile .profile-table td
{
  height: 50px;
  font-size: 1.2em;
  padding: 10px 0px;
}
.booking-section .profile-table td:first-child, .myprofile .profile-table td:first-child{
  width: 34%;
}
.booking-section .profile-table tr:last-child td, .myprofile .profile-table tr:last-child td{
  vertical-align: top;
}
.booking-section .profile-table tr:last-child td select, .booking-section .profile-table tr:last-child td input, .myprofile .profile-table tr:last-child td input,.myprofile .profile-table .value select{
  margin: 0px 0px 3px 0px;
}
.booking-section .profile-table .field, .myprofile .profile-table .field
{
  font-family: noto_sansbold;
  color: #afbd22;
}
.changepassword .changepasswordbutton, .myaccount-body .profile-table button{
	background: #003d69;
}
 .myaccount-body .profile-table button:disabled, .changepassword .changepasswordbutton:disabled, .booking-section .profile-table button:disabled, .myprofile .profile-table button:disabled{
  background-color: #ededed;
  cursor: default;
}
.booking-section .profile-table button, .changepassword .changepasswordbutton, .myprofile .profile-table button{
  width: 100%;
  margin: 20px 0px;
}

.booking-section .profile-table .value, .myprofile .profile-table .value
{
  font-family: noto_sansregular;
  color: #262626;
}
.booking-section .profile-table .value select, .booking-section .profile-table .value input, .changepasswordtextbox, .myprofile .profile-table .value input,.myprofile .profile-table .value select{
  width: 100%;
  padding: 0px 10px;
  height: 45px;
  border: 1px solid #c3c3c3;
}
.myprofile .profile-table .value input{
	margin: 2px 0px;
}
.booking-section .profile-table .value select:disabled, .booking-section .profile-table .value input:disabled, .myprofile .profile-table .value input:disabled,.myprofile .profile-table .value select:disabled{
  color: #444;
  background: #f8f7f7;
  border-color: #eee;
}
.activity-booked
{
}

.activity-booked .block
{
  width: 100%;
  min-height: 250px;
  border: 1px solid #afbd22;
  margin: 13px 0px 0px 0px;
}

.activity-booked .block .block-header
{
  height: 50px;
  background-color: #afbd22;
  padding: 0px 15px;
}

.activity-booked .block .block-header p{
  margin: 3px 0px;
  color: #fff;
  font-size: 1.2em;
}

.activity-booked .block .block-header p .bold
{
  font-family: noto_sansbold;
}

.activity-booked .block .block-header p .normal
{
  font-family: noto_sansregular;
}

.activity-booked .block .block-header p.float-right
{
  text-align: right;
}

.activity-booked .block-body
{
  min-height: 198px;
  padding: 10px;
  position: relative;
}

.activity-booked .block-body .description
{
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  width: 70%;
}

.activity-booked .block-body .description li
{
  display: inline-block;
  list-style: none;
  margin-right: 20px;
  font-family: noto_sansregular;
  color: #262626;
}
.activity-booked .block-body .description li img{
	width: 170px;
	height: 170px;
	border-radius: 50%;
}
.activity-booked .block-body .description li .activity-name
{
  font-size: 2em;
  line-height: 1.0em;
  margin: 0px;
}

.activity-booked .block-body .description li .activity-timing
{
  font-size: 1.1em;  
}

.activity-booked .block-body .menu
{
  display: block;
  position: absolute;
  width: 25%;
  bottom: 0px;
  right: 10px;
}

.booking-section .profile-table button, .activity-booked .block-body .menu li, .myaccount-body button
{
  background: #b7b7b7;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: 2px;
  cursor: pointer;
  border: none;
}
.activity-booked .block-body .menu li{
  width: 100%;
  display: block;
  padding: 0px;
  background: transparent;
}
.activity-booked .block-body .menu li button{
	padding: 0px;
	height: 37px;
	min-width: 108px;
	background: #013e6a;
}
.activity-booked .block-body .menu li button:hover
{
  background: #013e6a;
}

.activity-booked .block-body .menu li button:disabled,.activity-booked .block-body .menu .inactive
{
  background: #b7b7b7 !important;
	cursor: default;
}

.page-footer
{
  width: 100%;
  margin-top: 100px;
}
.footer-text
{
  max-width: 1200px;
  margin: 0px auto;
  height: 26px;
}
.copy-right
{
  font-family: noto_sansbold;
  display: block;
  float: left;
  margin: 0px;
}

.bi_smallLogo
{
  float: right;
}

.footer-black
{
  width: 100%;
  height: 70px;
  background: #262626;
}

.review > div > div, .common-popup > div > div
{
  max-width: 800px;
  /*! height: 606px; */
  background: #ebebeb;
  margin: 0px auto;
  border: 20px solid #fff;
  padding: 20px;
  position: relative;
  width: 100%;
}

.review > div > div > ul
{
  padding: 0px;
  width: 50%;
}

.review > div > div > ul li
{
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
  padding-right: 30px;
}

.review .ratings
{
  margin-top: 100px;
}

.review form textarea
{
  width: 100%;
  border:none;
  font-family: noto_sansregular;
  padding: 16px;
  height: 193px;
  resize: vertical;
  font-size: 1.1em;
}

.review .closeBtn, .closeBtn1
{
  position: absolute;
  top: 0px;
  right: 0px;
  color: #666;
  border: none;
  background: #fff;
  font-size: 1.4em;
  padding: 5px 11px;
}

.cancel .cancel-book-inner
{
  width: 800px;
  margin: 0px auto;
  background: #fff;
  padding: 20px;
  position: relative;
}

.cancel-book-inner > div
{
  border: 1px solid #013e6b;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
}
.cancel-book-inner > div .closeBtn{
	background: #fff;
	color: #444;
}
.cancel .happy-booking-summary, .btnBlue-h3
{
  font-size: 2em;
  color: #013e6b;
  font-family: noto_sansbold;
  margin: 25px 0px 9px 0px;
}

.cancel .booking-des-title
{
  font-size: 1.6em;
  color: #5d5d5f;
}

.cancel .booking-item-name
{
  font-size: 3em;
  color: #013e6b;
  text-transform: uppercase;
  margin: 19px 0px;
}

.cancel ul
{
  padding: 0px;
  width: 80%;
  margin: 10px auto;
}
.cancel ul li
{
  display: inline-block;
  width: 30%;
  text-align: center;
}

.cancel ul li:nth-child(1)
{
  text-align: left;
}

.cancel ul li:nth-last-child(1)
{
  text-align: right;
}


.cancel .cancel-book
{
  border: none;
  background: #013e6b;
  color: #fff;
  padding:7px 30px;
  font-size: 1.2em;
	margin-top: 10px;
}

.cancel .date-title
{
  font-weight: bold;
}

.cancel .booking-item-point
{
  color: #b3c231;
  font-size: 2em;
  margin: 21px 0px;
}

.cancel-message
{
  background: #013e6b;
  color: #fff;
    margin: 0px auto;
     max-width: 600px;
	padding: 10px;
  text-align: center;
  position: relative;
}
.cancel-message p{
	color: #fff;
	margin: 18px 0px;
}
.cancel-message .closeBtn{
	background: transparent;
}
.cancel-message p
{
  font-size: 1em;
}

#ratingdiv{overflow:hidden}
#ratingdiv .undone, #ratingdiv .fade{
  background: transparent url("../img/ratings.png") -30px 0 no-repeat;
  width:28px;
  display:block;
  height:30px;
  float:left;
  margin-right:4px;
  text-indent:-99999px;
  cursor: pointer;
}
#ratingdiv .done{
  background:url("../img/ratings.png") no-repeat;
  width:28px;
  display:block;
  height:30px;
  float:left;
  margin-right:4px;
  text-indent:-99999px;
  cursor: pointer;
}
#ratingdiv .undone:hover{
  background-position:0px 0px
}

/*Terms and condition css*/

.terms-condition > div > div
{
  max-width: 800px;
  margin: 0px auto;
  background: #ebebeb;
  padding: 20px 20px;
  width: 100%;
}

.terms-condition > div > div > form
{
  border: 1px solid #013e6a;
  padding: 30px;
}

.termsHead
{
  font-size: 2em;
  color: #b8bf0d;
  font-family: noto_sansbold;
  margin: 20px 0px 40px 0px;
  display: block;
  line-height: 1.2em;
}

.terms-condition form p.termsText
{
  font-family: noto_sansregular;
 text-align: left;
  line-height: 1.7em;
  margin: 20px 0px;
  font-size: 0.9em;
}

.terms-condition label.inputLabel
{
  color: #b8bf0d;
  font-family: noto_sansbold;
  cursor: pointer;
  vertical-align: middle;
}
.terms-condition input[type="checkbox"]{
    vertical-align: middle;
}
.terms-condition div#terms-checkbox-parent
{
  cursor: pointer;
}



.changepassword
{
  overflow: hidden;
}

.changepassword .inner-header .head-line
{
   width: 65% !important;
}

.changepassword .profile-table
{
  width: 100%;
  margin: 60px 0px 0px 0px
}

.changepassword .profile-table td
{
  height: 50px;
  font-size: 1.2em;
}
.changepassword .profile-table .field
{
  font-family: noto_sansbold;
  color: #afbd22;
}

.changepassword .profile-table .value
{
  font-family: noto_sansregular;
  color: #262626;
}

.changepasswordbutton {
    border: none;
    background: #b8bf0d;
    color: #fff;
    padding: 6px 18px;
    font-size: 1em;
    text-transform: uppercase;
    font-family: noto_sansbold;
    display: block;
}

*
{
  box-sizing: border-box;
}
.success{
	color: green;
}
.error{
	color: red;
}
.inner-wrapper
{
  max-width: 1200px;
  margin: 0px auto;
  padding: 10px 10px 0px 10px;
  font: 14px/1.4em noto_sansregular;
}

.inner-header
{
  height: 35px;
  position: relative;
}
.head-icon
{
  float: left;
  background: #fff;
}
.head-icon, .head-title{
    position: relative;
    z-index: 2;
}
.head-title
{
  float: left;
  font-family: noto_sansbold;
  font-size: 1.6em;
  margin: 5px 0px 0px 0px;
  color: #363636;
  text-transform: uppercase;
  line-height: 1.1em;
  background: #fff;
  padding: 0px 10px;;
}

.calendar-icon
{
  padding: 0px;
  text-align: center
}

.calendar-icon li
{
  list-style: none;
  display: inline-block;
  background: #ebebeb;
  width: 24%;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  vertical-align: top;
}
.calendar-icon li:not(:last-child){
    margin-right: 1%;
}
.head-title1, .head-title2
{
  font-family: "Times New Roman";
  font-style: italic;
}
.head-title1
{
  text-align: right;
  font-size: 1.5em;
  color: #007ac3;
  margin: 20px 33px 0px 0px;
}

.head-title2
{
  text-align: center;
  font-size: 2.6em;
  color: #013e6b;
  margin: 30px 0px 0px 0px;
}

.inner-header .head-line
{
  float: right;
  border-width: 0px;
  border-color: #b8bf0d;
  border-style: solid;
  border-bottom-width: 7px;
  display: block;
  margin: 15px 0px 0px 10px;
   width: 100%;
    position: absolute;
   right: 0px;
    z-index: 0;
}
.view-cta
{
  margin: 30px auto 0px auto;
  display: block;
  background: transparent;
  border: 1px solid #013e6a;
  border-radius: 5px;
  padding: 5px 15px;
  color: #013e6a;
  cursor: pointer;
}

#post-login ul.notes li{
  padding: 3px 0px;
}

.trending-wrapper, .monthwise-wrapper
{
  margin: 40px 0px 0px 0px;
}

.trending-box-wrapper
{
  margin-top: 20px;
  height: 480px;
}

.half-box
{
  width: 49.3%;
  position: relative;
  min-height: 506px;
  float: left;
  cursor: pointer;
}

.trending-box-wrapper img
{
  width: 100%;
  display: block;
}

.trending-box-wrapper .activity-name
{
  text-align: right;
  text-transform: uppercase;
}


.quarter-box .activity-name, .half-box .activity-name
{
  font-size: 1.2em;
  margin: 3px 4px 0px 0px;
  color: #555;
}

.quarter-box-wrapper
{
  width: 50.7%;
  float: right;
  height: 470px;
}

.quarter-box
{
  width: 48.4%;
  float: left;
  margin: 0px 0px  4% 1.6%;
  cursor: pointer;
}

.quote-gallery
{
  width: 100%;
  height: 450px;
  float: none;
  margin-top: 80px;
  position: relative;
  border: 1px solid #d7d7d7;
}

.gallery-content-container
{
   width: 100%;
  height: 450px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.gallery-content
{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
}

.gallery-next, .gallery-prev
{
  position: absolute;
  top: 40%;
  background: transparent;
  border: none;
  height: 80px;
  width: 50px;
  font-size: 3.5em;
  color: #d7d7d7;
  margin: 0px;
  cursor: pointer;
  z-index: 3;
}

.gallery-next
{
  right: 0px;
}

.gallery-prev
{
  left: 0px;
}

.gallery-quote
{
  display: block;
  margin: -4% auto 0px auto;
}

.gallery-content-item
{
  font-family: noto_sansitalic;
  color: #acacac;
  width: 70%;
  text-align: center;
  display: block;
  margin: 0px auto;
  font-size: 1.5em;
  line-height: 1.4em;
  transition: opacity 0.5s;
}

.gallery-propic-container
{
  width: 100%;
  position: absolute;
  bottom: -40px;
}

.gallery-propic
{
  display: block;
  margin: 0px auto;
}

.inactive
{
  display: none;
  opacity: 0;
}

.active
{
  display: block;
  opacity: 1;
}

.calendar-wrapper
{
  position: fixed;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  opacity: 0;
}

.calendar-close-hotspot
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.7;
  z-index: 1;
}

.calendar-container
{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-content
{
  display: block;
  position: relative;
  z-index: 3;
  background: #fff;
  padding: 20px;
  position: relative;
}

.calendar-close-btn
{
  position: absolute;
  right: 22px;
  top: 21px;
  background: transparent;
  border: none;
  font-size: 1.4em;
  padding: 10px 16px;
}

.calendar-close-btn:hover
{
  background: #eee;
}

.calendar-item-hostpot
{
  height: 73px;
  width: 71px;
  position: absolute;
  z-index: 4;
  cursor: pointer;
}

.calendar
{
  width: 690px;
  min-height: 373px;
  border: 1px solid #013e6a;
  padding: 40px 40px;
}

.bottle-art
{
  top: 190px;
  left: 365px;
}

.mma
{
  top: 190px;
  left: 440px;
}

.page-footer
{
  width: 100%;
  margin-top: 100px;
}
.footer-text
{
  max-width: 1200px;
  margin: 0px auto;
  height: 26px;
}
.copy-right
{
  font-family: noto_sansbold;
  display: block;
  float: left;
  margin: 0px;
}

.bi_smallLogo
{
  float: right;
}

.footer-black
{
  width: 100%;
  height: 70px;
  background: #262626;
}

.green
{
  color: #b8bf0d;
}

.booking-page .header
{
  width: 100%;
  height: 35.5vw;
  position: relative;
  overflow: hidden
}

.header-background
{
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.header.voucher .header-background{
	width: auto;
	position: relative;
	z-index: 0;
	margin: 0px auto;
	display: block;
	height: 35.5vw;
	max-width: 100vw;
}
.color-effect
{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #444;
  opacity: 0.7;
  top: 0px;
  left: 0px;
}
.header.voucher .color-effect{
	opacity: 0.3;
}
.booking-page .header-inner-wrapper
{
  max-width: 1200px;
  margin: 0px auto 0px auto;
  padding: 2% 20px;
  position: relative;
  z-index: 2;
  height: 100%;
}

.amdocs-embrace
{
  float: left;
  cursor: pointer;
}


.amdocs-club
{
  width: 100%;
  position: absolute;
  left: 0px;
  height: 150px;
  top: 20vw;
}

.amdocs-club img
{
  margin: 0px auto;
  display: block;
}

.title_happy
{
  font-family: caviar_dreamsregular;
  font-size: 8.4em;
  font-weight: normal;
  margin: 3% 0px 0px 0px;
  line-height: 0.9em;
  text-align: center;
}

.items
{
  padding: 0px;
  max-width: 1100px;
  margin: 0px auto;
  text-align: center;
}
.pagination{
	padding-right: 10px;
}
.pagination button{
	width: 130px;
	height: 31px;
	background: #9AA00E;
	border: none;
	color: #fff;
	font-size: 1em;
	border-radius: 16px;
}
.pagination button:disabled{
	background-color: #aaa;
}
.pagination span{
	margin: 0px 5px;
}
.items li
{
  list-style: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  margin: 0px 17px;
  width: 141px;
}

.items li:hover div.item-image-ellipse{
  background: #94990E;
}

.items li div.item-image-ellipse.active-ellipse
{
  background: #013e6b;
}

.item-image-ellipse img
{
  height: 80px;
  margin-top: 1px;
}

.main-item-title
{
  text-align: left;
  color: #fff;
  font-family: noto_sansbold;
  text-transform: uppercase;
  display: block;
  position: absolute;
  bottom: 0px;
  font-size: 5em;
  line-height: 0.9em;
  margin: 14px 0px;
  z-index: 2;
}


.item-title
{
  text-align: center;
  color: #262626;
  font-family: noto_sansregular;
  text-transform: uppercase;
}

.booking-page div.item-wrapper
{
  margin-top: 10px;
  transform: none;
}

.item-gallery-container
{
  max-width: 1200px;
    padding: 0px;
  margin: 0px auto 0px auto;
  min-height: 522px;
}
.item-gallery-container li{
    display: inline-block;
	width: 25%;
    text-align: center;
}
.item-gallery-container li img{
	width: 100%;
	padding: 2px;
}
.item-gallery-table tr td p
{
  text-align: center;
  font-family: noto_sansregular;
  color: #013e6a;
}

.booking-section
{
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px;
}

.booking-description-section
{
  width: 100%;
  color: #252525;
  font-family: noto_sansregular;
}

.des-title,.more-title
{
  display: block;
  float: left;  
  font-size: 1.7em;
  text-transform: uppercase;
  font-family: noto_sansbold;
  line-height: 1.2em;
}

.item-description
{
  font-size: 1.3em;
  line-height: 2em;
}

.point-label
{
  float: right;
  color: #013e6a;
  border:none;
  padding: 7px 0px;
  font-size: 1.2em;
  cursor: default;
  width: 140px;
	font-weight: bold;
  background: transparent;
}

.booking-cta-section
{
  float: right;
}
.bookCTAContainer{
	margin-top: 39px;
}
.booknow
{
  border:none;
  background: #b8bf0d;
  color: #fff;
  /*!  */
  font-size: 1em;
  text-transform: uppercase;
  font-family: noto_sansbold;
  margin: 0px auto 0px auto;
  display: block;
  height: 40px;
  width: 113px;
}
.booknow:disabled{
	background-color: #aaa;
}
.booknow.float-right{
	margin: 0px auto 0px 1px;
}
.date-venue
{
  padding: 0px;
}

.date-venue li
{
  list-style: none;
  display: inline-block;
  width: 32%;
}

table.date-venue-table
{
  width: 100%;
  border-collapse: collapse;
}

table.date-venue-table th
{
  font-size: 1.6em;
  font-weight: bold;
  padding: 15px 5px;
}


table.date-venue-table td
{
  font-size: 1.2em;
  padding: 10px 5px;
}
table.date-venue-table tbody.rowclick tr{
	border:1px solid #ccc;
	border-left: none;
	border-right: none;
	cursor: pointer;
	transition: background 0.3s;
	
}
table.date-venue-table tbody.rowclick tr:hover{
	background: #eee;
}
table.date-venue-table tbody.rowclick tr.active{
	background: #B8BF0D;
	display: table-row;
	color: #fff;
}
table.date-venue-table td p{
    margin: 0px;
}


table.date-venue-table tr td:nth-child(2), table.date-venue-table tr th:nth-child(2)
{
  text-align: center;
}
table.date-venue-table tr td:nth-last-child(1), table.date-venue-table tr th:nth-last-child(1)
{
  text-align: right;
}
table.date-venue-table tr td:nth-child(1), table.date-venue-table tr th:nth-child(1)
{
  text-align: left;
}
table.date-venue-table input[type="number"]{
	width: 80px;
	height: 35px;
	padding-left: 10px;
}
.date-title, .blackh4{ 
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1.3em;
}

.date-detail
{
  font-size: 1.2em;
}

.more-activities
{
  max-width: 1200px;
  margin: 0px auto;
  padding: 10px 20px;
}

.more-title
{
  float: none;
}

.more-activities-item
{
  padding: 0px;
  margin: 0px auto;
  vertical-align: top;
  text-align: center;
}

.more-activities-item li
{
  list-style: none;
  display: inline-block;
  padding: 0px 10px;
  vertical-align: top;
  width: 177px;
  margin-bottom: 17px;
}
.more-activities-item li img{
    width: 142px;
    border-radius: 50%;
    height: 142px;
    border: 1px solid #dbdbdb;
}

.more-activities-item li p
{
  text-align: center;
}


.booking-confirmation
{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 5;
  display: none;
}

.booking-confirmation-inner
{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.booking-confirm-popup div.center-block
{
  background: #fff;
  width: 100%;
  max-width: 800px;
  padding: 15px;
}

.booking-confirm-image
{
  margin: 0px auto;
}

.booking-confirm-image
{
  width: 800px;
  height: auto;
  background: #fff;
  padding: 20px;
}

.booking-confirm-popup-inner
{
  border: 1px solid #013e6a;
  padding: 6px;
  position: relative;
}

.booking-confirm-popup-inner .close, .referal .close
{
  position: absolute;
  right: 2px;
  top:2px;
  background:transparent;
  height:30px;
  width:30px;
  font-size:1.3em;
  border:none;
}

.happy-booking-summary
{
   color: #a2b317;
  font-size: 4em;
}

.booking-des-title
{
  float: none;
  text-align: center;
  padding: 18px 2px 2px 2px;
  margin: 0px;
}

.booking-item-name
{
  text-align: center;
  color: #013e6a;
  text-transform: uppercase;
  font-size: 3em;
  font-family: noto_sansbold;
  margin: 20px;
  line-height: 1em;
}

.confirm-book, .submit1
{
  display: block;
  margin: 0px auto;
  background:#013e6a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-family: noto_sansbold;
  font-size: 1.3em;
}
.confirm-book{
	margin-bottom: 10px;
}
.confirm-book.inline{
	display: inline-block;
}
.booking-confirm-date-venu
{
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.booking-item-point
{
  text-align: center;
  color: #b1ba2d;
  font-size: 1.8em;
  font-family: noto_sansregular;
  line-height: 1em;
}

.booking-item-description
{
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
}

.mail-icon
{
  display: block;
  margin: 0px auto;
}

.confirmation-mail-text
{
  text-align: center;
  color: #666;
}

.uppercase
{
  text-transform: uppercase;
}

.hr
{
  height: 4px;
  max-width: 600px;
  margin: 0px auto;
  background: #B8BF0D;
}

.helpline-wrapper
{
  width: 619px;
  background: #ebebeb;
  position: fixed;
  z-index: 55555;
  top: 80px;
  right: -619px;
  border: 15px solid #fff;
}

.helpline-wrapper > p
{
  text-align: center;
  color: #afbd22;
  font-family: noto_sansbold;
  font-size: 2em;
  margin: 21px 0px;
}

.helpline-wrapper > button
{
  position: absolute;
  top: 0px;
  right: 0px;
  background: #afbd22;
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 1.2em;
}
.helpline-wrapper label{
	width: 39px;
	display: inline-block;
}
.helpline-wrapper > div
{
  width: 95%;
  margin: 0px auto 13px auto;
}

.helpline-wrapper > div > div
{
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px 0px 10px 0px;
  min-height: 175px;
  font-size: 13px;
}
.helpline-wrapper .address{
	padding-left: 20px;
}
.helpline-wrapper > div > div .contact_header
{
  margin: 0px 0px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.helpline-wrapper > div > div img
{
  height: 60px;
}

.helpline-wrapper > div .telephone
{
  
  color: #fff;
  position: relative;
}



.helpline-wrapper > div .or_text
{
  position: absolute;
  right: -25px;
  top: 62px;
  background: #afbd22;
  border: 4px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
    font-size: 15px
}


.referal ul
{
  text-align: center;
}

.referal, .promptBody
{
  max-width: 800px;
  background: #EBEBEB;
  margin: 0px auto;
  padding: 25px;
}

.referal ul li
{
  display: inline-block;
  background: #013e6a;
  color: #fff;
  width: 100px;
  padding: 5px 0px;
  cursor: pointer;
}

.referal input.login-id
{
  width: 100%;
  border: 1px solid #aaa;
  height: 40px;
  color: #B1C029;
  padding-left: 10px;
}

.referal input[type="submit"], .referal .button
{
 background: #013e6a;
  color: #fff;
  border: none;
  height: 35px;
  width: 120px;
  margin: 30px auto 0 auto;
  font-size: 1.2em;
}

.referal p.left-align
{
  text-align: left;
}

#submitReferal .pop-up-body, #referFriend .pop-up-body
{
     width: 100%;
     max-width: 550px;
     margin: 0px auto;
     background: #fff;
     padding: 15px;
}

.referal.pop-up-body form
{
  border: 1px solid #013E6A;
  padding: 10px;
  position: relative;
  text-align: center;
}
.feedback p.blackh4{
  font-size: 1.2em;
  font-weight: normal;
}
.feedback textarea{
  width: 100%;
  height: 252px;
  border: 1px solid #ccc;
  padding: 15px;
  color: #444;
  font-family: arial;
  font-size: 1em;
}
.feedback button.submit1{
  margin-top: 20px;
}
.feedback ul.topic{
  padding: 0px;
  margin: 50px 0px 0px 0px;
}
.feedback p.btnBlue-h3{
  margin: 17px 0px 5px 0px;
}
.feedback ul.topic li{
  display: inline-block;
  border-radius: 30px;
  height: 34px;
  border: 1px solid #e6e6e6;
  border-left: none;
  vertical-align: middle;
  width: 130px;
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  background-color: #fff;
}
.feedback ul.topic li.active{
  background-color: #9f9f9f;
  color: #fff;
}
.feedback ul.topic li img{
  height: 33px;
  vertical-align: middle;
  margin: 0px 9px 0px -1px;
  border-radius: 50%;
}

ul.terms{
    color: #fff;
    margin: 0px;
    padding: 10px 0px;
}
ul.terms li a{
    color: #fff;   
}
ul.terms li a:hover{
    text-decoration: underline;
    color: #fff; 
}
ul.terms li{
    display: inline-block;
    margin: 0px;
    padding: 5px 0px;
    color: #fff; 
}

ul.terms li:not(:last-child):after{
    content: '|';
    margin: 0px 10px;
}