body
{
  background-color: #5A3143;
}
.green
{
  color: #b8bf0d;
}

.clear
{
  clear: both;
  float: none;
}
.wrapper
{
 
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background-image: url(../img/login-background.jpg);
  background-size: 100%;
  /*! background-repeat: no-repeat; */
  background-position: top center;
}

.color-effect
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(100,100,100,1), rgba(0,0,0,0.3));
  opacity: 1;
  z-index: 1;
}

.innerWrapper
{
  max-width: 1274px;
  height: 100%;
  z-index: 2;
  margin: 2% auto 0px auto;
  padding: 10px;
}

.club-img
{
  display: block;
  float: right;
}

.title_happy
{
  font-family: caviar_dreamsregular;
  font-size: 5.4em;
  font-weight: normal;
  margin: 1% 0px;
  line-height: 0.9em;
}

.login-form
{
  position: fixed;
  top: 0%;
  left: 0px;
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  align-items: center;
}

.login-table
{
  margin: 0px auto 0px auto;
  width: 380px;
  display: table-cell;
  vertical-align: middle;
  border-collapse: collapse;
}

.login-table tbody
{
  display: block;
  margin: 0px auto;
  max-width: 384px;
  width: 100%;
  padding: 15px 20px;
  border-radius: 17px;
}

.login-table tbody tr
{
  width: 100%;
  display: block;
}

.login-table tbody tr td
{
  border-bottom: 1px solid #eee;
  color: #eee;
  padding-top: 12px;
}

.input-cell{
  position: relative;
}

.input-cell button
{
  position: absolute;
  right: 5px;
  height: 90%;
  background: transparent;
  border: none;
  color: #B68620;
  font-family: noto_sansregular;
  top: 9px;
}

.input-cell button:hover, .signup span:hover
{
  text-decoration: underline;
  cursor: pointer
}

.login-table tbody tr:nth-last-child(1) td, .login-table tbody tr:nth-last-child(2) td
{
  border-bottom: none;
  width: 100%;
  display: block;
  height: 80px;
}
.login-table tr td
{
  height: 56px;
  width: 100%;
  display: block;
}
.input-text
{
  height: 100%;
  width: 100%;
  background: transparent;
  color: #fff;
  font-family: noto_sansregular;
  font-size: 1.1em;
  border: none;
  padding-left: 10px;
  transform: translate(0px,1px);
}

.input-text:invalid
{
   box-shadow:none !important;
  border: none !important;
  outline: none !important;
}

.input-text[type="password"]
{
  width: 100%;
}

.login-cta
{
  width: 201px;
  height: 42px;
  font-family: noto_sansregular;
  background: #b8bf0d;
  color: #eee;
  border: none;
  border-radius: 25px;
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 25px auto 0px auto;
  display: block;
}

.login-cta-cell
{
  vertical-align: bottom;
  height: 80px;
}

.error-message p
{
  text-align: center;
  color: red;
}

.signup span
{
  color: #B68620;
}

.footer
{
  position: absolute;
  bottom: 10%;
  z-index: 2;
  width: 100%;
}

.footer-wrapper
{
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}

.footer-wrapper li
{
  list-style: none;
  display: inline-block;
}

.footer-long-text
{
  width: 80%;
  color: #fff;
  font-size: 1.1em;
  text-align: center;
  font-family: noto_sansitalic;
}

.footer-quote
{
  position: relative;
  width: 7%;
}

.footer-quote img
{
  position: absolute;
  top: -20%;
}


.pop-up
{
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  display: table;
  background-color : rgba(0,0,0,0.5);
  top: 0px;
  left: 0px;
}

.pop-up > div
{
  display: table-cell;
  vertical-align: middle;
}


.pop-up > div > div
{
  max-width: 700px;
  margin: 0px auto;
  background: #fff;
  padding: 20px;
  width: 100%;
}

.pop-up > div > div:nth-child(2)
{
  background: #013E6A;
  color: #fff;
  font-size: 1.7em;
  text-align: center;
  line-height: 1.3em;
  position: relative;
  border: 15px solid #fff;
}

.pop-up > div > div:nth-child(2) button.closeBtn
{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.1em;
  padding: 3px 8px;
  background: #fff;
  border: none;
}

.pop-up > div > div > form
{
  border: 1px solid #013E6A;
  padding: 6px 20px;
  position: relative;
}

.pop-up > div > div > form label
{
  display: block;
}

.pop-up > div > div > form button.closeBtn
{
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  background: transparent;
  font-size: 1.5em;
  padding: 5px 10px;
}

.pop-up > div > div > form label.h1
{
  font-family: noto_sansbold;
  color: #013E6A;
  font-size: 1.8em;
  padding: 10px 0px 5px 0px;
  line-height: 1.2em;
}

.pop-up > div > div > form button.closeBtn:hover
{
  background: #013E6A;
  color: #fff;
}

.pop-up > div > div > form label.p1
{
  font-size: 1.3em;
  padding: 10px 0px;
  font-family: noto_sansregular;
}

.pop-up > div > div > form label.p1.blue
{
  color: #013E6A;
}

.pop-up > div > div > form label.p1.grey
{
  color: #666;
}

.pop-up > div > div > form#forgotPasswordFormElem input[type="email"]
{
  width: 100%;
  height: 48px;
  border: 1px solid #666;
  padding-left: 15px;
  margin: 14px 0px;
  font-size: 1.4em;
  color: #555;
  font-family: noto_sansregular;
}

.pop-up > div > div > form#forgotPasswordFormElem input[type="submit"], .pop-up > div > div > form#resetForm input[type="submit"]
{
  width: 124px;
  height: 50px;
  background: #013E6A;
  color: #fff;
  border: none;
  font-family: noto_sansbold;
  display: block;
  margin: 2px auto;
}

.pop-up > div > div > form#resetForm input[type="email"], .pop-up > div > div > form#resetForm input[type="password"]
{
  width: 100%;
  height: 40px;
  font-size: 1.2em;
  padding-left: 10px;
  border: 1px solid #666;
  margin: 2px 0px;
  color: #afbd22;;
}

.pop-up > div > div > form#resetForm p.error-message
{
  color: red;
  padding: 0px;
  margin: 10px 0px;
}