@media screen and (min-width: 930px)
{
   .menu .menuCloseBtn, .mobile-menu-trigger  {
    display: none !important;
  }
}

@media screen and (max-width: 1199px)
{
  .item-wrapper{
    margin-top: -49px !important;
  }
  .booking-page div.item-wrapper{
    margin-top: 0px !important;
  }
  .items li{
    width: 110px;
  }
  
  .items li div.item-image-ellipse{
    width: 100px;
    height: 100px;
  }
  
  .items li div.item-image-ellipse img{
    width: 70px;
    height: 70px;
  }
  
  .booking-description-section {
    width: 100%;
  }
  .activity-booked .block-body .menu
  {
    z-index: 1;
  }
  
  

  .item-gallery-table tr td
  {
    vertical-align: top;
  }
      
  .amdocs-club img
  {
    width: 72%;
  }
  
  .title_happy
  {
    font-size: 4em;
  }
    
  
  .myaccount-header .amdocs-club
  {
    top: auto;
    bottom:80px;
  }

  .calendar-icon
  {
    display: block;
  }
  
  .calendar-icon li
  {
    width: 23.4%;
    margin: 0.5% 0.1% !important;
  }
}

@media screen and (max-width: 930px)
{

  .login-table tbody
  {
   background-color: rgba(0, 0, 0, 0.86);
  }
  nav.main-nav.fixed .menu .submenu{
    background: transparent;
  }
  nav.main-nav .mobile-menu-trigger
  {
    display: block;
    color: #fff;
    font-family: noto_sansbold;
    font-size: 1.4em;
    padding: 0px;
    text-align: right;
    margin: 0px;
    cursor: pointer;
  }
  nav.main-nav .menu li:after{
    content: '';
    display: none;
  }
  
  nav.main-nav .submenu li:hover, nav.main-nav .menu li:hover,nav.main-nav .menu li.active
  {
  color: #fff;
  }
 nav.main-nav .menu
  {
    width: 320px;
    background: #b8bf0d;
    position: fixed;
    top: 0px;
    right: -320px;
    margin: 0px;
    height: 100%;
    z-index: 4;
    padding: 20px;
    transition: right 0.5s;
  }
  
  nav.main-nav .menu button.menuCloseBtn
  {
    width: 30px;
    height: 30px;
    background: #fff;
    border: none;
    color: #b8bf0d;
    font-size: 1.4em;
    margin-bottom: 0px;
  }
  
  nav.main-nav .menu > li, nav.main-nav .menu > li
  {
    display: block !important;
    padding: 2px 0px;
    width: 100%;
  }
  nav.main-nav .menu > li > ul {
    position: static;
    visibility: visible !important;
    display: block !important;
    color: #fff;
    opacity: 1;
    padding: 2px 20px;
  }
  nav.main-nav .menu > li > ul li {
    font-size: 1em;
    padding: 2px 0px;
  }
  .more-activities-item li  {
    width: 149px;
  }
  .more-activities-item li img{
      height: 128px;
      width: 128px;
  }
  .item-gallery-container li{
    width: 33%;
  }
}

@media screen and (max-width: 768px)
{
  .helpline-wrapper
  {
    width: 320px;
    border-width: 10px;
  }
  .helpline-wrapper .address{
    width: 300px;
    margin: 0px auto;
  }
  .helpline-wrapper > div > div
  {
    font-size: 0.9em;
    width: 100%;
    padding: 25px 0px 21px 0px;
  }
  .helpline-wrapper > div .or_text{
    top: 157px;
    right: calc(50% - 27px);
  }
  .helpline-wrapper
  {
    width: 100%;
    right: -100%;
    top: 0px;
  }
  .booking-item-description,.confirmation-mail-text{
    margin: 2px 0px;
  }
  .mail-icon{
    width: 100px;
  }
  .booking-item-description{
    font-size: 1.1em;
  }
  .title_happy{
    font-size: 2em;
  }
  .booking-item-name{
    font-size: 2.3em;
    margin: 13px 0px;
  }
  .booking-item-point{
    margin: 16px 0px 0px 0px;
  }
  .booking-confirm-date-venu li p{
   margin: 3px 0px;
   font-size: 1.1em;
  }
  .booking-des-title{
    margin: 10px 0px;
    font-size: 1em;
  }
  table.date-venue-table th,table.date-venue-table td{
    font-size: 0.8em;
  }
  .booking-section .profile-table td, .myprofile .profile-table td{
    font-size: 1.1em;
  }
  table.date-venue-table th{
    font-size: 0.9em;
  }
  table.date-venue-table td{
    font-size: 0.9em;
    padding: 5px 1px;
  }
  .feedback ul.topic{
    margin-top: 10px;
  }
  table.date-venue-table td input{
    margin: 0px;
  }
  .feedback ul.topic li{
    width: 48%;
    margin: 0px;
    font-size: 0.7em;
  }
  .common-popup > div > div{
    padding: 20px 5px;
  }
  .feedback textarea{
    height: 100px;
  }
  .item-wrapper{
    margin-top: 10px !important;
  }
 
  .main-item-title
  {
    margin: 0px 0px;
    bottom: 10px;
    font-size: 8vw;
  }
  .menu
  {
    width: 75px;
    display: block !important;
    margin: 0px;
  }
  .spacebar, .menu li
  {
    font-size: 1.2em;
  }
  .more-activities-item
  {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    display: block;
  }

  .activity-booked .block-body .description
  {
    display: block;
  }
  .myprofile .profile-table .value
  {
    padding-left: 10px;
  }
  
  .review > div > div > ul
  {
    width: 100%;
  }
  
  .review .ratings
  {
    margin: 10px;
  }
  .activity-booked .block-body, .activity-booked .block
  {
    height: auto;
  }
  .myaccount-body .profile-section, .myaccount-body > .float-right
  {
    float: none;
    width: 100%;
    min-height: auto;
    padding: 10px 10px;
  }
  .myaccount-body .profile-menu
  {
    margin: 10px 0px;
  }
  
  .myaccount-body .myprofile
  {
    margin-top: 10px;
  }
  
  .cancel .happy-booking-summary, .myaccount-body .profile-name
  {
    line-height: 1.2em;
  }
  .review > div > div, .calendar-content, .cancel .cancel-book-inner
  {
    padding: 5px;
  }
  
  .review > div > div
  {
    border: none;
  }
  .review > div > div, .cancel .cancel-book-inner, .calendar, .booking-confirm-popup, .booking-confirm-image, .booking-confirm-date-venu
  {
   width: 100%;
  }
  .booking-confirm-popup div.center-block{
    padding: 5px;
  }
  .amdocs-club
  {
    top: 34%;
    position: absolute;
    z-index: 1;
    left: 0px;
    width: 100%;
  }
  
  .calendar-icon
  {
    display: block;
    width: 100%;
  }
  
  .calendar-icon li
  {
    width: 43%;
    margin: 0.5% 0.1%;
  }
  
  .footer
  {
    position: static;
  }
  .login-table
  {
    width: 100%;
  }
  
  .footer
  {
    margin-top: 200px;
  }
  
  .footer .footer-text
  {
    color: #666;
  }
  
  .innerWrapper, .footer, .wrapper, body
  {
    width: 100%;
  }
  
  .header, .header.voucher .header-background
  {
    height: 56vw;
    min-height: 182px;
  }
  
  .title_happy
  {
    font-size: 3em;;
    margin: 4px 0px 19px 0px;
  }
  
  .header-inner-wrapper
  {
    height: 100%;
  }
  
  .myaccount-header
  {
    height: 52vw;
    min-height: 180px;
  }
  
  .myaccount-header .amdocs-club
  {
    top: auto;
    bottom:50px;
    position: absolute;
    text-align: center;
    height: 100px;
  }
  
  .myaccount-header .amdocs-club img
  {
    float: none;
    display: inline;
    margin: 0px auto;
  }
  .footer-text:after
  {
    content: '';
    clear: both;
    float: none;
  }
  
  .half-box, .quarter-box-wrapper
  {
    width: 100%;
    margin-top: 20px;
    float: none;
    min-height: auto;
  }
  
  .half-box p
  {
    font-size: 1.6em !important;
    padding: 4px 0px;
  }
  
  .item-wrapper .items
  {
    width: 100%;
    display: block;
    text-align: center;
  }
  
  
  .item-wrapper .items:after
  {
    clear: both;
    float:none;
    content: '';
    display: block;
  }
  
 /* .item-wrapper
  {
    transform: translate(0px,-60px);
  }
     */
  .cancel .cancel-message p:nth-child(1), .cancel-message p:nth-child(2)
  {
    line-height: 1.1em !important;
  }
  .item-gallery-table, .item-gallery-table tr, .item-gallery-table td{
    display: inline-block;
    text-align: center;
  }
  .item-gallery-table td{
    width: 49%;
  }
  .item-gallery-table tr{
    width: 100%;
  }
  .item-gallery-container li{
    width: 50%;
  }
  
}

@media screen and (max-width: 400px)
{  
  
  .amdocs-embrace
  {
    width: 54vw;
    min-width: 185px;
  }
  .pop-up > div > div > form label.p1.blue{
    padding: 2px 0px;
  }
  .pop-up > div > div > form label.p1{
   font-size: 1em !important;
  }
  .pop-up > div > div,.terms-condition > div > div{
    padding: 5px;
  }
  .head-title2{
    font-size: 1.8em;
  }
  .more-activities-item li{
    width: 45%;
  }
  .more-activities-item li img
  {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 375px)
{
  
  .footer-text
  {
    height: 40px;
  }
  
  .innerWrapper, .footer, .wrapper, body
  {
    min-width: 320px;
  }
   .monthwise-wrapper .head-line, .trending-wrapper .head-line
  {
   width: 0%;
    display: none;
  }


}