<!DOCTYPE html>
<html>
	<head>
		<title>Amdocs</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/index.css" rel="stylesheet">
		<link href="css/fullcalendar.min.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet">
		<link rel="shortcut icon" href="img/favicon.png">
		
		<style>					[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {	display:none !important;}
		</style>
		
		<script src="js/site_config.js"></script>
	</head>
<body ng-app="app" ng-controller="amdocs">
	<div class="wrapper">
		<nav class="main-nav">
			<div class="inner-nav">
				<a href="index.html">
					<img src="img/AmdocsCLUB-logo.png" class="amdocs-embrace">
					<!-- <img src="img/amdocs_embrace.png" class="amdocs-embrace"> -->
				</a>
				<p class="float-right mobile-menu-trigger">MENU</p>
				<ul class="menu">
					<button class="menuCloseBtn">&#10095;</button>
					<li class="">
						Location 
						<div class="arrow-down"></div>
						<ul class="submenu">
							<li>Pune</li>
							<li>GURUGON</li>
						</ul>
					</li>
					<li onclick="location.href='my_account.html'">My Account</li>
					<li id="helpline-Menu">Helpline</li>
					<li id="feedbackCta">Feedback</li>
					<li>Admin
						<div class="arrow-down"></div>
						<ul class="submenu">
							<li>Pune</li>
							<li>GURUGON</li>
							<li>Pune</li>
							<li>GURUGON</li>
							<li>Pune</li>
							<li>GURUGON</li>
						</ul>
					</li>
					<li id="helpline-Menu">Logout</li>
				</ul>
			</div>
		</nav>	
		
		<div class="header">
			<ul class="slider">
				<li><img src="img/banner_voucherIntro.jpg"></li>
				<li><img src="img/banner1.jpg"></li>
			</ul>
		</div>
		
		<div class="inner-wrapper">
			<br>
			<br>
			<p class="free-text1 text-justify">Amdocs Club is a platform for you to nurture your passion, talent and interests, during after-work hours, through the best classes and trainers in the city. Simply schedule an activity by burning your Amdocs Club program points, and get ready to discover, participate and enjoy!</p>
			<p class="free-text2">Point expiry date: 30<sup>th</sup> Sep 2017</p>
			<br>
			<br>
			<br>
		</div>
		
		
		<div class="category-menu" ng-controller="categoryMenu">
		
			<div class="item-wrapper">
				<ul class="items" id="categoryMenu">
					<li ng-repeat="x in categoryMenu.items" ng-click="categoryItems.getItems({categoryId : x.id}); categoryMenu.active = x">
						<div class="item-image-ellipse" ng-class="(categoryMenu.active.id == x.id)?'active-ellipse':''">
							<img ng-src="{{categoryMenu.baseImgUrl +''+ x.ImageLogo}}">
						</div>
						<p class="item-title" ng-bind="x.Name"></p>
					</li>
				</ul>
			</div>
			
			<div class="filter inner-wrapper" ng-show="filter.shown" ng-cloak>
				<select ng-model="categoryFilter.value" ng-options="x.label for x in categoryFilter.items" ng-disabled="!categoryFilter.enabled" ng-change="filterChange()">
					<option value='' disabled>Category</option>
				</select>
				
				<div class="point-slide noselect self-clear" ng-class="(!pointSliderFilter.enabled)?'disabled':''">
					<label class="label noselect">Points</label>
					<div class="slide-viewport self-clear" ng-inputslider="pointSliderFilter" ng-inputslider-options="pointSliderFilter.items" ng-inputslider-change="filterChange">
						<div class="track"></div>
						<div class="handle-bar"></div>
						
						<label class="value noselect" ng-bind="pointSliderFilter.value">10</label>
					</div>
					
				</div>
				
				<select ng-model="sortFilter.value" ng-options="x.label for x in sortFilter.items" ng-disabled="!sortFilter.enabled" ng-change="filterChange()">
					<option value='' disabled>Sort</option>
				</select>
				
				<div class="search" ng-class="(!searchBoxFilter.enabled)?'disabled':''">
					<input type="text" placeholder="Search" ng-disabled="!searchBoxFilter.enabled" ng-model="searchBoxFilter.value" ng-change="filterChange()">
					<button ng-disabled="!searchBoxFilter.enabled" ng-click="filterChange()">
						<img src="img/search.png">
					</button>
				</div>
				
			</div>
			
			<div class="item-gallery" ng-show="categoryItems.page.active != null">
				<ul class="item-gallery-container">
					<li ng-repeat="x in categoryItems.page.active">
						<a ng-href="{{((x.Type =='voucher')? api.bookVoucher : api.bookingPage) + '?id='+x.Id}}">
							<img ng-src="{{categoryItems.baseImgUrl +''+x.Image1}}">
							<p ng-bind="x.Name"></p>
						</a>
					</li>
				
				</ul>
				<div class="pagination right-text inner-wrapper">
					<button ng-click="categoryItems.page.prev();"ng-disabled="categoryItems.page.activeIndex <= 0">Previous Page</button>
					
					<span ng-bind="categoryItems.page.activeIndex + 1"></span> of <span ng-bind="categoryItems.page.pages.length"></span>
					
					<button ng-click="categoryItems.page.next();" ng-disabled="categoryItems.page.activeIndex == categoryItems.page.pages.length - 1">Next Page</button>
				</div>
			</div>
		</div>
		
	</div>
	
	
	
	<div class="calendar-wrapper">
		
		<div class="calendar-container">
		
			<div class="calendar-close-hotspot"></div>
			
			<div class="calendar-content june">
				<button class="calendar-close-btn">&times;</button>
				<div class="calendar" id="june"></div>
			</div>
			
			<div class="calendar-content july">
				<button class="calendar-close-btn">&times;</button>
				<div class="calendar" id="july"></div>
			</div>
			
			<div class="calendar-content august">
				<button class="calendar-close-btn">&times;</button>
				<div class="calendar" id="august"></div>
			</div>
			
			<div class="calendar-content september">
				<button class="calendar-close-btn">&times;</button>
				<div class="calendar" id="september"></div>
			</div>
	
		</div>
	</div>
	
	<div class="wrapper">
		<div class="inner-wrapper">
			<div class="monthwise-wrapper">
				<div class="inner-header">
					<img src="img/month_icon.png" class="head-icon">
					<p class="head-title">Month Wise</p>
					<p class="head-line"></p>
					<div class="clear"></div>
				</div>
				
				<ul class="calendar-icon">
					<li>
						<p class="head-title1">joyous</p>
						<p class="head-title2">June</p>
						<button class="view-cta" data-btn-name="june">View</button>
					</li>
					<li>
						<p class="head-title1">coolest</p>
						<p class="head-title2">July</p>
						<button class="view-cta" data-btn-name="july">View</button>
					</li>
					<li>
						<p class="head-title1">awesome</p>
						<p class="head-title2">August</p>
						<button class="view-cta" data-btn-name="august">View</button>
					</li>
					<li>
						<p class="head-title1">super</p>
						<p class="head-title2">September</p>
						<button class="view-cta" data-btn-name="september">View</button>
					</li>
				</ul>
				
			</div>
			
			<div class="trending-wrapper" ng-controller="trendingItems">
				<div class="inner-header">
					<img src="img/trend_icon.png" class="head-icon">
					<p class="head-title">TRENDING EVENTS</p>
					<p class="head-line"></p>
					<div class="clear"></div>
				</div>
				
				<div class="trending-box-wrapper">
					<div class="half-box">
						<a ng-href="{{bookingPage + '?classId='+trendingItems.items[0].Id}}">
							<img ng-src="{{trendingItems.baseImgUrl +''+trendingItems.items[0].Image3}}">
							<p class="activity-name" ng-bind="trendingItems.items[0].Name"></p>
						</a>
					</div>
					<div class="quarter-box-wrapper">
						
						<div class="quarter-box" ng-repeat="x in trendingItems.items.slice(1,5)">
							<a ng-href="{{bookingPage + '?classId='+x.Id}}">
								<img ng-src="{{trendingItems.baseImgUrl +''+ x.Image1}}">
								<p class="activity-name" ng-bind="x.Name"></p>
							</a>
						</div>

						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>

		</div>
		<div class="page-footer">
			<div class="footer-text">
				<p class="copy-right">&copy; 2016 Amdocs Inc.</p>
				<img src="img/powered_by.png" class="bi_smallLogo">
			</div>
			<div class="footer-black"></div>
		</div>
	</div>
	
	<div class="pop-up common-popup feedback" id="feedback">
		<div>
			<div class="left-text">
				<button class="closeBtn closeBtn1" id="feedbackClose">×</button>
				<p class="btnBlue-h3">Feedback</p>
				<p class="blackh4">Please tell us what do you think, any kind of feedback is highly appreciated.</p>
				<ul class="topic" id="feedbackTopic">
					<li data-name="Idea"><img src="img/idea.jpg"><span>IDEA</span></li>
					<li data-name="Problem"><img src="img/problem.jpg"><span>PROBLEM</span></li>
					<li data-name="Query"><img src="img/query.jpg"><span>QUERY</span></li>
					<li data-name="Praise"><img src="img/praise.jpg"><span>PRAISE</span></li>
				</ul>
				<p>Character left : <span id="charLeft"></span></p>
				<form action="my_account.html" id="feedBackForm">
					<textarea maxlength="500" required id="feedbackString" placeholder="Your Feedback" disabled></textarea>
					<input required type='hidden' id="topicString">
					<button class="submit1">SUBMIT</button>
				</form>
			</div>
		</div>
	</div>
	
	<div class="pop-up common-popup" id="thankyou">
		<div>
			<div class="left-text">
				<button class="closeBtn closeBtn1" id="thankyouClose">×</button>
				<p class="blackh4 center-text">Thank you for sharing your feedback</p>
			</div>
		</div>
	</div>
	
	<div class="pop-up loading" ng-class="(loading.shown)?'active':'inactive'">
		<div>
			<div>
				
				<div class="body" id="floatBarsG">
					<div id="floatBarsG_1" class="floatBarsG"></div>
					<div id="floatBarsG_2" class="floatBarsG"></div>
					<div id="floatBarsG_3" class="floatBarsG"></div>
					<div id="floatBarsG_4" class="floatBarsG"></div>
					<div id="floatBarsG_5" class="floatBarsG"></div>
					<div id="floatBarsG_6" class="floatBarsG"></div>
					<div id="floatBarsG_7" class="floatBarsG"></div>
					<div id="floatBarsG_8" class="floatBarsG"></div>
				</div>
			
			</div>
		</div>
	</div>
	
	<div class="helpline-wrapper">
		<p>Contact Us</p>
		<button class="closeBtn helpLineCloseBtn">&#10095;</button>
		<div class="self-clear">
			<div class="bgWhite fontGrey position-relative">
				<img src="img/paintbrush.png">
				<p class="contact_header fontBiwGreen">CLASSES</p>
				
				<div class="text-left address">
					<label class="text-bold fontBiwGreen">CALL</label>
					<a href="tel:180030101955">1800 301 01955</a>
				</div>
				<div class="text-left address">
					<label class="text-bold fontBiwGreen">MAIL</label>
					<a href="mailto:concierge@biworldwide.com">concierge@biworldwide.com</a>
				</div>
				
				<button class="or_text">or</button>
			</div>
			
			
			<div class="email bgBiwGreen fontWhite">
				<img src="img/vouchers.png">
				<p class="contact_header">VOUCHERS</p>
				
				<div class="text-left address">
					<label class="text-bold">MAIL</label>
					<a href="mailto:customercareind@biworldwide.com  ">customercareind@biworldwide.com  </a>
				</div>
			</div>
		</div>
			
		<div class="clear"></div>
	</div>
	
	<script src="js/velocity.min.js"></script>
	<script type="text/javascript" src="js/moment.min.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<!-- <script type="text/javascript" src="js/gallery_control.js"></script> -->
	<script type="text/javascript" src="js/fullcalendar.min.js"></script>
	<script type="text/javascript" src="js/calendar.js"></script>
	<script type="text/javascript" src="js/menuControl.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/angularModules.js"></script>
	
	

</body>
</html>