<!DOCTYPE html>
<html>
	<head>
		<title>Amdocs - My account</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/index.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet">
		<link rel="shortcut icon" href="img/favicon.png">
		<style>					[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {	display:none !important;}
		</style>
		
		<script src="js/site_config.js"></script>
		
		<script>
			
			var dynamicData = {
				
				userInfo : {
					name : "Kiran Kumar",
					pointEarned : "1000",
					department : "Creative Service",
					jobTitle : "Designer",
					email : "kiran@amdocs.in",
					mobile : "9986210839",
					city : "Bangalore",
					state : "Karnataka",
					pincode : "560099",
					country : "india",
					address1 : "28, BIWORLWIDE",
					address2 : "Ulsoor Road, Ulsoor",	
				}
				
			
			};
		
		
		</script>
		
		
	</head>
<body ng-app="app" ng-controller="amdocs">
	
	<div class="wrapper">
		<nav class="main-nav">
			<div class="inner-nav">
				<a href="index.html">
					<img src="img/AmdocsCLUB-logo.png" class="amdocs-embrace">
					<!-- <img src="img/amdocs_embrace.png" class="amdocs-embrace"> -->
				</a>
				<p class="float-right mobile-menu-trigger">MENU</p>
				<ul class="menu">
					<button class="menuCloseBtn">&#10095;</button>
					<li class="">
						Location 
						<div class="arrow-down"></div>
						<ul class="submenu">
							<li>Pune</li>
							<li>GURUGON</li>
						</ul>
					</li>
					<li onclick="location.href='my_account.html'" class="active">My Account</li>
					<li id="helpline-Menu">Helpline</li>
					<li id="feedbackCta">Feedback</li>
					<li>Admin
						<div class="arrow-down"></div>
						<ul class="submenu">
							<li>Budget</li>
							<li>GURUGON</li>
							<li>Users</li>
							<li>Categories</li>
							<li>Classes</li>
							<li>Activites</li>
							<li>Reports</li>
							<li>Email Templates</li>
							<li>User Activity Log</li>
						</ul>
					</li>
					<li id="helpline-Menu">Logout</li>
				</ul>
			</div>
		</nav>

		<!-- <div class="header myaccount-header style="background-image:url('img/background.jpg')"> -->
		<!-- </div> -->
		
		<div class="header">
			<ul class="slider">
				<!-- <li><img src="img/banner2.jpg"></li> -->
				<!-- <li><img src="img/banner3.jpg"></li> -->
				<li><img src="img/banner1.jpg"></li>
			</ul>
		</div>
		
		<div class="inner-wrapper myaccount-body parent" ng-controller="myaccount">
			<div class="float-left profile-section">
				<p class="profile-name" ng-bind="userProfileInfo.data.name"></p>
				<p class="profile-points"><span ng-bind="userProfileInfo.data.pointEarned"></span> Points</p>
				<!-- <img src="img/awards_Mailer.png" class="profile-pic"> -->
							
				<ul class="profile-menu noselect" id="profileMenu">
					<li ng-class="(tab.active == 'myprofile')?'active':''" ng-click="tab.active = 'myprofile'">MY PROFILE</li>
					
					<li ng-class="(tab.active == 'actvBooked')?'active':''" ng-click="tab.active = 'actvBooked'">ACTIVITIES BOOKED</li>
					
					<li ng-class="(tab.active == 'vouchers')?'active':''" ng-click="tab.active = 'vouchers'">VOUCHERS BOOKED</li>
					
					<li ng-class="(tab.active == 'changePasswd')?'active':''" ng-click="tab.active = 'changePasswd'">CHANGE PASSWORD</li>
				</ul>
				
			</div>			
			<div class="float-right">
				<div class="myprofile" id="myprofile" ng-show="(tab.active == 'myprofile')" ng-cloak>
					<div class="inner-header">
						<p class="head-title">My Profile</p>
						<p class="head-line"></p>
						<div class="clear"></div>
					</div>
					
					<p class="float-right">[ <a class="textclick" href="javascript:void(0)" id="profileEditCta" ng-click="userProfileInfo.mode='edit'">Edit Address</a> ]</p>
					
					<form ng-submit="userProfileInfo.save($event);">
						<table class="profile-table">
							<tr>
								<td class="field">Name</td>
								<td class="value" ng-bind="userProfileInfo.data.name"></td>
							</tr>
							<tr>
								<td class="field">Department</td>
								<td class="value" ng-bind="userProfileInfo.data.department"></td>
							</tr>
							<tr>
								<td class="field">Job Title</td>
								<td class="value" ng-bind="userProfileInfo.data.jobTitle"></td>
							</tr>
							<tr>
								<td class="field">Email Address</td>
								<td class="value" ng-bind="userProfileInfo.data.email"></td>
							</tr>
							<tr>
								<td class="field">Phone Number</td>
								<td class="value">
									<input type="text" class="profileEditable" ng-model="userProfileInfo.data.mobile" ng-disabled="(userProfileInfo.mode!='edit')" required>
								</td>
							</tr>
							<tr>
								<td class="field topAlign">Address</td>
								<td class="value">
									<input type="text" class="profileEditable" placeholder="Address Line 1" ng-model="userProfileInfo.data.address1" ng-disabled="(userProfileInfo.mode!='edit')" required>
									
									<input type="text" class="profileEditable" placeholder="Address Line 2"  ng-disabled="(userProfileInfo.mode!='edit')" ng-model="userProfileInfo.data.address2">
									
									<input type="text" class="profileEditable" placeholder="City"  ng-disabled="(userProfileInfo.mode!='edit')" ng-model="userProfileInfo.data.city" required>
									
									<input type="text" class="profileEditable" placeholder="State"  ng-disabled="(userProfileInfo.mode!='edit')" ng-model="userProfileInfo.data.state" required>
									<!-- <select class="profileEditable" disabled> -->
										<!-- <option>Karnataka</option> -->
										<!-- <option>Tamil Nadu</option> -->
									<!-- </select> -->
									<!-- <select class="profileEditable" disabled> -->
										<!-- <option value="">City</option> -->
										<!-- <option>Bangalore</option> -->
										<!-- <option>Chennai</option> -->
									<!-- </select> -->
									<input type="text" class="profileEditable" placeholder="Postal Code"  ng-disabled="(userProfileInfo.mode!='edit')" ng-model="userProfileInfo.data.pincode" required>
									
									<input type="text" class="profileEditable" placeholder="Country"  ng-disabled="(userProfileInfo.mode!='edit')" ng-model="userProfileInfo.data.country" required>
									
									<p class="error" ng-bind="userProfileInfo.errorMsg.msg"></p>
									<p class="success" ng-bind="userProfileInfo.successMsg.msg"></p>
									
									
									<button id="save" class="profileEditable"  ng-disabled="(userProfileInfo.mode!='edit')" type="submit">Save</button>
								</td>
							</tr>
						</table>
					</form>
				</div>
				
				<div class="activity-booked" id="activityBooked" ng-show="(tab.active == 'actvBooked')" ng-cloak>
					<div class="inner-header">
						<p class="head-title">Activities Booked</p>
						<p class="head-line"></p>
						<div class="clear"></div>
					</div>
					
					<div class="block" ng-repeat="x in booked.items | filter : {Type : 'class'}">
						<div class="block-header">
							<p class="float-left">
								<span class="normal">Starting Date</span><br>
								<span class="bold" ng-bind="x.StartDate"></span>
							</p>
							<p class="float-right">
								<span class="normal">Points</span><br>
								<span class="bold" ng-bind="x.Points"></span>
							</p>
						</div>
						<div class="block-body">
							<ul class="description">
								<li>
									<img ng-src="{{baseImgUrl +''+x.ActivityImage}}">
								</li>
								<li>
									<p class="activity-name" ng-bind="x.Name"></p>
									<p class="activity-timing" ng-bind="x.Duration"></p>
								</li>
							</ul>
							
							<ul class="menu">
								<li class="cancel-book-cta">
									<button ng-disabled="x.disableCancel" ng-click="cancel.show(x)">Cancel</button>
								</li>
								<!-- <li class="review-cta"> -->
									<!-- <button>Write a review</button> -->
								<!-- </li> -->
							</ul>
						</div>
					</div>
					
				</div>
				
				<div class="activity-booked" id="vouchersBooked" ng-show="(tab.active == 'vouchers')" ng-cloak>
					<div class="inner-header">
						<p class="head-title">VOUCHERS Booked</p>
						<p class="head-line"></p>
						<div class="clear"></div>
					</div>
					
					<div class="block" ng-repeat="x in booked.items | filter : {Type : 'voucher'}">
						<div class="block-header">
							<p class="float-left">
								<span class="normal">Booked At</span><br>
								<span class="bold" ng-bind="x.BookDate"></span>
							</p>
							<p class="float-right">
								<span class="normal">Points</span><br>
								<span class="bold" ng-bind="x.Points"></span>
							</p>
						</div>
						<div class="block-body">
							<ul class="description">
								<li>
									<img ng-src="{{baseImgUrl +''+x.ActivityImage}}">
								</li>
								<li>
									<p class="activity-name" ng-bind="x.Name"></p>
									<!-- <p class="activity-timing" ng-bind="x.DeliverAddress"></p> -->
									<p class="activity-timing">
										<b>Delivery Address</b><br>
										<span ng-bind="x.DeliverAddress"></span>
										<br><br>
										<b>Status</b><br>
										<span ng-bind="x.DeliverStatus"></span>
									</p>
								</li>
							</ul>
							
							<ul class="menu">
								<li class="cancel-book-cta">
									<button ng-disabled="x.disableCancel" ng-click="cancel.show(x)">Cancel</button>
								</li>
								<!-- <li class="review-cta"> -->
									<!-- <button>Write a review</button> -->
								<!-- </li> -->
							</ul>
						</div>
					</div>
					
					
				</div>
			
				<div class="changepassword" id="changepasswordTab"  ng-show="(tab.active == 'changePasswd')" ng-cloak>
                    <div class="inner-header">
                        <p class="head-title">Change Password</p>
                        <p class="head-line"></p>
                        <div class="clear"></div>
                    </div>
                    <table class="profile-table">
                        <tbody><tr>
                            <td class="field">Current Password</td>
                            <td class="value">
								<input type="password" class="changepasswordtextbox" id="OldPassword" placeholder="Current Password" ng-model="changePassword.oldPassword.value">
							</td>
                        </tr>
                        <tr>
                            <td class="field">New Password</td>
                            <td class="value">
								<input type="password" class="changepasswordtextbox" id="NewPassword" width="100" placeholder="New Password" ng-model="changePassword.newPassword.value">
							</td>
                        </tr>
                        <tr>
                            <td class="field">Repeat Password</td>
                            <td class="value">
								<input type="password" class="changepasswordtextbox" id="ConfirmPassword" placeholder="Repeat Password" ng-model="changePassword.repeatPassword.value">
							</td>
                        </tr>
                        <tr>
                            <td class="field"></td>
                            <td class="value">
								<button class="changepasswordbutton" id="changepassword" ng-disabled="changePassword.newPassword.value != changePassword.repeatPassword.value || changePassword.newPassword.value == '' || changePassword.newPassword.value == null || changePassword.oldPassword.value == '' || changePassword.oldPassword.value == null" ng-click="changePassword.save();">Save</button>
							</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="value">
								<p id="messageError" style="color:orangered" ng-bind="changePassword.errorMsg.msg"></p>
								<p id="messageSuccess" style="color:#32CD32" ng-bind="changePassword.successMsg.msg"></p>
							</td>
                        </tr>
                    </tbody></table>
                </div>
			</div>
			<div class="clear"></div>
			
			<div class="pop-up cancel" ng-class="(cancel.shown)?'active':''" ng-cloak>
				<div ng-click="cancel.hide()">
					<div class="cancel-book-inner" ng-no-propa>
						
						<div class="cancel-summary">
							<button class="closeBtn closeBtn1" ng-click="cancel.hide()">×</button>
							<p class="happy-booking-summary">Are you sure you want to cancel?</p>
							<p class="des-title booking-des-title">BOOKING SUMMARY</p>
							<p class="booking-item-name" ng-bind="cancel.data.Name"></p>
							<p class="booking-item-point"><span ng-bind="cancel.data.Points"></span> Points</p>
							<ul class="date-venue booking-confirm-date-venu">
								
								<li ng-show="(cancel.data.LocationName != undefined)">
									<p class="date-title">Location</p>
									<p class="date-detail" ng-bind="cancel.data.LocationName"></p>
								</li>
								
								<li class="centerText" ng-show="(cancel.data.Duration != undefined)">
									<p class="date-title">Time</p>
									<p class="date-detail" ng-bind="cancel.data.Duration"></p>
								</li>
								<li class="rightText" ng-show="(cancel.data.StartDate != undefined)">
									<p class="date-title">Date</p>
									<p class="date-detail" ng-bind="cancel.data.StartDate"></p>
								</li>
								
							</ul>
							
							<p class="des-title booking-des-title" id="cancellationWarning" style="font-size:1em;">* The <b ng-bind="cancel.data.Type"></b> cannot be cancelled after <span ng-bind="cancel.data.CancelBeforeDate"></span> <span ng-bind="cancel.data.CancelBeforeTime"></span></p>
							
							<button class="cancel-book" id="bookCancelBtn" ng-click="cancel.confirmCancel();">Cancel</button>
						</div>					
						
					</div>

				</div>
			</div>
			
			<div class="pop-up" ng-class="(cancel.cancelledMessage.shown)?'active':''" ng-cloak>
				<div ng-click="cancel.cancelledMessage.hide()">
					<div class="cancel-message" ng-no-propa>
						<button class="closeBtn closeBtn1" ng-click="cancel.cancelledMessage.hide()">×</button>
						
						<div ng-custombind="cancel.cancelledMessage.msg"></div>
		
					</div>
				</div>
			
			</div>
			
			<div class="pop-up review" style="display:none">
				<div>
					<div>
						<ul class="description float-left">
							<li>
								<img src="img/visualart.png">
							</li>
							<li>
								<p class="activity-name">Visual Art Therapy</p>
								<p class="activity-timing">5.00PM - 6.00PM</p>
							</li>
						</ul>
						
						<div class="float-right ratings">
							<div id="ratingdiv">
									<a class="undone" data-value="1">star one</a>
									<a class="undone" data-value="2">star two</a>
									<a class="undone" data-value="3">star three</a>
									<a class="undone" data-value="4">star four</a>
									<a class="undone" data-value="5">star five</a>
							</div>
						</div>
						
						<button class="closeBtn">&times;</button>
						
						<form>
							<textarea placeholder="Write a review"></textarea>
						</form>
					</div>
				</div>
			</div>	
		</div>
		
		<div class="pop-up common-popup feedback" id="feedback">
			<div>
				<div class="left-text">
					<button class="closeBtn closeBtn1" id="feedbackClose">×</button>
					<p class="btnBlue-h3">Feedback</p>
					<p class="blackh4">Please tell us what do you think, any kind of feedback is highly appreciated.</p>
					<ul class="topic" id="feedbackTopic">
						<li data-name="Idea"><img src="img/idea.jpg"><span>IDEA</span></li>
						<li data-name="Problem"><img src="img/problem.jpg"><span>PROBLEM</span></li>
						<li data-name="Query"><img src="img/query.jpg"><span>QUERY</span></li>
						<li data-name="Praise"><img src="img/praise.jpg"><span>PRAISE</span></li>
					</ul>
					<p>Character left : <span id="charLeft"></span></p>
					<form action="my_account.html" id="feedBackForm">
						<textarea maxlength="500" required id="feedbackString" placeholder="Your Feedback" disabled></textarea>
						<input required type='hidden' id="topicString">
						<button class="submit1">SUBMIT</button>
					</form>
				</div>
			</div>
		</div>
		
		<div class="pop-up common-popup" id="thankyou">
			<div>
				<div class="left-text">
					<button class="closeBtn closeBtn1" id="thankyouClose">×</button>
					<p class="blackh4 center-text">Thank you for sharing your feedback</p>
				</div>
			</div>
		</div>
		
		<div class="helpline-wrapper">
			<p>Contact Us</p>
			<button class="closeBtn helpLineCloseBtn">&#10095;</button>
			<div class="self-clear">
				<div class="bgWhite fontGrey position-relative">
					<img src="img/paintbrush.png">
					<p class="contact_header fontBiwGreen">CLASSES</p>
					
					<div class="text-left address">
						<label class="text-bold fontBiwGreen">CALL</label>
						<a href="tel:180030101955">1800 301 01955</a>
					</div>
					<div class="text-left address">
						<label class="text-bold fontBiwGreen">MAIL</label>
						<a href="mailto:concierge@biworldwide.com">concierge@biworldwide.com</a>
					</div>
					
					<button class="or_text">or</button>
				</div>
				
				
				<div class="email bgBiwGreen fontWhite">
					<img src="img/vouchers.png">
					<p class="contact_header">VOUCHERS</p>
					
					<div class="text-left address">
						<label class="text-bold">MAIL</label>
						<a href="mailto:customercareind@biworldwide.com  ">customercareind@biworldwide.com  </a>
					</div>
				</div>
			</div>
				
			<div class="clear"></div>
		</div>
		
		<div class="page-footer">
			<div class="footer-text">
				<p class="copy-right">&copy; 2016 Amdocs Inc.</p>
				<img src="img/powered_by.png" class="bi_smallLogo">
			</div>
			<div class="footer-black"></div>
		</div>

		
	</div>

	<script src="js/velocity.min.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<!-- <script src="js/amdocs.ui.js"></script> -->
	<script src="js/menuControl.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/angularModules.js"></script>
	

</body>
</html>